<footer>
  <div class="container-fluid">
    <p class="text-center">
      Wildlife Tracker created by <a href="https://github.com/amyschools" target="_blank">Amy Schools</a> and <a href="https://github.com/labradford" target="_blank">Lea Ann Bradford</a>
    </p>
  </div>
</footer>
